/* 
:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText)
}

p, li, span, label, input, textarea{
    color: var(--mainText)
}

.title {
    font-size: 46pt;
}
*/