* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:visited{
    text-decoration: none;
    color: #426696;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,
p {
    color: #658ec6;
    font-weight: 600;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc5, #5d9ce4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 10%;
}
.circle2{
    bottom: 5%;
    left: 5%;;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
    display: flex;
    margin: -2rem -7rem;
    align-items: center;
    height: 110px;
}


.link h2 {
    padding: 0rem 1rem;
    align-items: center;
}

.projects {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #5d9ce4) ;
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
}

.pro img {
    position: absolute;
    top: -10%;
}

.pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

.status {
    margin-bottom: 3rem;
}

.status input {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.projects {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.aboutMe h1 {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content:start ;
}